
        {{!-- <img src="{{imageURL}}" alt="" class="swiper-slide"> --}}
        {{!-- <a href="{{imageURL}}" target="_blank" class="btn btn-primary">Ver</a> --}}
        <a  src="{{imageURL}} title="{{title}}" ">

            <img src="{{imageURL}}" alt="" class="swiper-slide">
            <li value="{{title}} {{precio}}" class="swiper-wrapper">{{title}}</li>

        </a>
        {{/each}}
    </div>
    <br>
    <br>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
    <!-- If we need scrollbar --> 
    <!-- <div class="swiper-scrollbar"></div> -->
</div>