

<div class="row">
    <div class="col-md-20">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <a href="/image/nuevo/" class="btn btn-primary">Producto Nuevo</a>
                </div>
                    <div class="row"> 
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Título</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Categoria</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each photos}}
                                    <tr>
                                        <td><img src="{{imageURL}}" alt="" class="card-img-top"></td>
                                        <td >{{title}}</td>
                                        <td>
                                            <textarea name="description" class=estilotextarea2 cols="120" rows="8" readonly placeholder="Descripción">{{description}}
                                            </textarea>
                                        </td>
                                        <td>{{precio}}</td>
                                        <td>{{categoria}}</td>
                                        <td>
                                            <div class="form-group text-center">
                                                <div class="col-sm-2"></div>
                                                    <a href="/image/editar/{{_id}}" class="btn btn-primary">Editar</a>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="/image/delete/{{_id}}" class="btn btn-danger">Borrar</a>                            
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>