

{{!-- {{#each b}} <img src="{{b.imageURL}}" alt="">{{/each}} --}}
{{!-- {{#each b}} <h1>{{b}}</h1>  <img src={{b}} alt=""> {{/each}} --}}
{{{images.[1]}}}
<br><br>
{{#with images.[1]}}
lala
{{/with}}
<br><br>
{{#each images}} {{this}} <br><br>{{/each}}
