

{{!-- {{#each b}} <img src="{{b.imageURL}}" alt="">{{/each}} --}}
{{!-- {{#each b}} <h1>{{b}}</h1>  <img src={{b}} alt=""> {{/each}} --}}
<h1>{{images[0]}}</h1>
{{#each images}} <img src="{{imageURL}}" alt="" class="card-img-top"> {{/each}}