






<div class="row ">
    <div class="col-md-4">
        <table class="table">

            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Título</th>
                    <th>Descripción</th>

                    <th>Categoria</th>
                    <th>Operaciones</th>
                    <th>se vera</th>
                    <th>funciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each images}}
                <tr>
                    <td><img src="{{imageURL}}" alt="" class="card-img-top"></td>
                    <td>{{title}}</td>
                    <td>
                        {{!-- <textarea name="description" class=estilotextarea2 cols="120" rows="8" readonly
                            placeholder="Descripción">
                                            </textarea> --}}
                        {{description}}
                    </td>
                    <td>{{description}}</td>
                    <td>{{cfecha}}</td>
                    <td> </td>
                    <td>
                        <div class="form-group text-center">

                            <a href="/image/editar/{{_id}}" class="btn btn-primary">Editar</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="/image/delete/{{_id}}" class="btn btn-danger">Borrar</a>
                        </div>

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>



</div>

