

{{!-- {{#each b}} <img src="{{b.imageURL}}" alt="">{{/each}} --}}
{{!-- {{#each b}} <h1>{{b}}</h1>  <img src={{b}} alt=""> {{/each}} --}}
{{{images.stringify}}}
{{#each images}} {{this}} <br><br>{{/each}}
