

{{!-- {{#each b}} <img src="{{b.imageURL}}" alt="">{{/each}} --}}
{{!-- {{#each b}} <h1>{{b}}</h1>  <img src={{b}} alt=""> {{/each}} --}}
{{images.[1].}}
<br><br>

<br><br>
{{#each images}} {{this}} <br><br>{{/each}}

<br><br>ari<br><br>
{{#each images}} {{prefix}} {{title}} <br><br>{{/each}}


<br><br>
marcos
<br><br>
<%= images.forEach() %>
{{#each images}} {{images.title}} <br><br>{{/each}}

